/* Reset & Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000;
    color: #f0f0f0;
    line-height: 1.6;
}


.container {
    max-width: auto;
    margin: 50px auto;
    padding: 30px;
    background-color: #111;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
}


header {
    text-align: center;
    margin-bottom: 40px;
}

header h1 {
    font-size: 3rem;
    color: #fff;
    letter-spacing: 1px;
}

header p {
    font-size: 1.2rem;
    color: #bbb;
}


.profile-img {
    text-align: center;
    margin-bottom: 40px;
}

.profile-img img {
    width: 400px;
    height: 400px;
    max-width: 400px;
    object-fit: cover;
    border-radius: 50%;


    border-radius: 50%;
    box-shadow: 0 6px 15px rgba(255, 255, 255, 0.1);
}


section h2 {
    font-size: 1.8rem;
    margin-bottom: 12px;
    border-bottom: 2px solid #444;
    padding-bottom: 6px;
    color: #fff;
}


section {
    margin-bottom: 40px;
    padding: 0 10px;
}


.skills ul {
    list-style-type: none;
    padding: 0;
}

.skills li {
    background-color: #1c1c1c;
    padding: 10px 15px;
    margin: 8px 0;
    border-radius: 8px;
    color: #ddd;
    transition: background 0.3s ease;
}

.skills li:hover {
    background-color: #333;
}


.contact p {
    margin: 6px 0;
    font-size: 1rem;
    color: #ccc;
}